
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= title %></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addnewcategory">Add New Category</a></li>
                <li><a href="/passwordcategory">View All Category</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/addnewpassword">Add New Password</a></li>
                  <li><a href="/viewallpasswords">View All Password</a></li>
                </ul>
              </li>
              <li ><a href="/logout">Logout</a></li>
          </ul>
        </div>
        <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <% if(loginUser){ %> <%= loginUser  %> <% } %></a></div>
      </nav>
<div class="container">
    <div class="row">

        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Edit Password Details</div>
                     </div>  
                <div class="panel-body" >
                    <form action="/password-detail/edit/<%= record._id %>" id="passwordform" class="form-horizontal" method="post"  role="form">
                      <% if(success !=''){%> 
                        <p><%= success %></p>
                        <%}%>
                      <div class="form-group">
                                <label for="username" class="col-md-3 control-label">Password Category</label>
                                <div class="col-md-9">
                                   <select class="form-control" name="pass_cat">
                                       <option value="">Choose Password Category</option>
                                       <% if(record.length > 0){
                                        record.forEach(function(row){
                                        %>
                                       <option value="<%= row.password_category %>" <% if(row.password_category==records.password_category){ %> selected <% } %>> <%= row.password_category %></option>
                                       <%  }) } %>
                                      </select>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="username" class="col-md-3 control-label">Project Name</label>
                              <div class="col-md-9">
                                  <input type="textbox" class="form-control" name="project_name"  placeholder="Enter Your Project Name" value="<%= records.project_name %>">
                              </div>
                          </div>
                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Edit Password Details</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="editor" name="pass_details" rows="5" placeholder="Enter Your Password Details"><%= records.password_details  %></textarea>
                            </div>
                        </div>
                       <input type="hidden" name="id" value="<%= records._id %>">
                        <div class="form-group">
                            <!-- Button -->                                        
                            <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="Update Password" class="btn btn-primary">   
                            </div>
                        </div>
                        
                        <p><a href="/view-all-password">View All Password Lists</a></p>
                         
                        
                        
                        
                    </form>
                 </div>
            </div>

       
       
        
 </div> 
    </div>
  </div>
</body>
<script>
  CKEDITOR.replace( 'editor' );
</script> 
</html>